:root {
  --davys-gray: #474350ff;
  --mint-cream: #f8fff4ff;
  --ivory: #fcffebff;
  --cream: #fafac6ff;
  --peach: #fecdaaff;

  --background: var(--peach);
  --text-color: var(--davys-gray);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--davys-gray);
    --text-color: var(--mint-cream);
  }
}

body {
  font-family: sans-serif;
  background-color: var(--background);
  color: var(--text-color);
}

a {
  color: var(--text-color);
}
